.iconOpen {
  transform: rotate(180deg);
}

.iconClosed {
  transform: rotate(90deg);
}

.iconClosed,
.iconOpen {
  position: absolute;
  width: 10px;
  height: 10px;
  left: -1.5em;
  top: 0.25em;
}

.menuButton {
  background-color: inherit;
  border: none;
  color: #7d6f51;
  padding: 0;
}

.menuButton:hover {
  text-decoration: underline;
}
