.menuWrapper {
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.contianer {
  margin-bottom: 16px;
}

.header {
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: normal;
  color: #7e7052;
}

.header:hover {
  text-decoration: underline;
}

.icon {
  margin-right: 8px;
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
}

.rotateIcon {
  transform: rotate(180deg);
}

.itemContainer {
  width: 100%;
  overflow-y: hidden;
}

.collapse {
  max-height: 0px;
}
